logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*/.env
**/dist/
*/node_modules
cicd.yml.copy

*/dist
.github


cb_app_backend/public/leads